services:
  db:
    container_name: postgres
    image: postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      PGDATA: /data/postgres
      POSTGRES_DB: orders_db
    volumes:
      - db:/data/postgres
    ports:
      - "5431:5432"
    networks:
      - db
  
  orders:
    env_file: ".env"
    container_name: orders
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USERNAME: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: orders_db
    networks:
        - db
networks:
  db:
    driver: bridge

volumes:
  db: